html {
    height: 100%;
    width: 100%;
    font-size: xx-large;
    text-align: center;
  }
  
  body {
background-image: url("images/johnnie-walker.jpg");
  }

  main {
background-color: lightgray;
  }