html {
    height: 100%;
    width: 100%;
    font-size: xx-large;
    text-align: center;
    font-style:inherit;
  }
  
  body {
background-image: url("black.jpg");
background-position: all;
  background-repeat: no-repeat;
  background-size: cover;
  }

  main {
background-color: lightgray;
margin: 300px;
  }
  
 h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.p2 {
  font-family: 'Courier New', Courier, monospace;
}

.button {
  background-color:rgb(135, 135, 194);
  font-weight: 900;
  border-radius: 25px;
}

.visa-master{
  display: none;
}